/* src/App.css */
@media (max-width: 768px) {
  .banner__title {
    font-size: 2rem;
  }

  .banner__description {
    width: 100%;
    max-width: 100%;
  }

  .row__poster {
    max-height: 100px;
  }

  .row__posterLarge {
    max-height: 200px;
  }
}
